<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>geek教务成绩管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>
    <style>
    	th,td {
	    	text-align: center;
    	}
    </style>
</head>

<body data-type="index">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo"  style="position: fixed; left:0px;">
                <a href="javascript:;"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="/search">
                        <button type="submit" class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" name="keyword" type="text" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span th:text="${session.userSession.username}"></span> </a>
                        </li>

                        <!-- 新提示 -->
                        <li class="am-text-sm websocket">
                            <a href="javascript:;">
                                <i class="am-icon-comments"></i> 聊天室
                            </a>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="logout">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar" style="position: fixed; left:0px;">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
             <span th:text="${session.userSession.username}"></span>
          </span>
                </div>
            </div>
            <div th:include="common/menu :: menu"></div>
        </div>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
            
            	<shiro:hasRole name="teacher">
            	<div id="tpl-echarts"></div>
            	
            	<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                	<div class="widget am-cf">
                		<div class="widget-head am-cf">
                                <div class="widget-title am-fl">查询系统</div>
                       	</div>
                       	<form id="infoForm" action="#" class="am-form tpl-form-line-form">
                        <div class="widget-head am-cf">
                        	<div class="am-form-group">
			      				<label for="type">选修/必修</label>
			      				<select id="type">
			      					<option disabled="disabled" selected>请选择类型</option>
			      					<option th:value="1">必修</option>
			      					<option th:value="0">选修</option>
			      				</select>
		    				</div>
		    			</div>
		    			<div class="widget-head am-cf">
                            <div class="am-form-group">
						       	<label for="pro">选择课程</label>
						      	<select id="pro">
						       		<option disabled="disabled" selected>请选择课程</option>
						       	</select>
					        </div>
						</div>
						<div class="widget-head am-cf classDiv" style="display: none;">
	                           <div class="am-form-group">
							      <label for="classSelect">选择班级</label>
							      <select id="classSelect">
							      		<option disabled="disabled" selected>请选择班级</option>
							      </select>
							   </div>
						</div>
		    			</form>
            		</div>
            	</div>
            	
                	<div class="am-u-sm-12 am-u-md-12 am-u-lg-12 mustDiv" style="display: none;">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">成绩录入</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body  widget-body-lg am-fr">
                            	<h1 id="studentTitle" style="font-weight: 500;text-align: center;"></h1>
                            	<table class="am-table am-table-compact tpl-table-black ">
		                       		<tr>
		                           		<th style="border-top: 0;vertical-align:middle;text-align: center;">学号</th>
		                           		<th style="border-top: 0;vertical-align:middle;text-align: center;">姓名</th>
		                           		<th style="border-top: 0;vertical-align:middle;text-align: center;">成绩</th>
		                           	</tr>
		                           	<tbody	class="studentTbody">
		                           	
		                           	</tbody>
		                         </table>
		                     </div>
		                     <div class="buttonDiv">
		                 	 
		                 	 </div>
		                 </div>
		             </div>
            	</shiro:hasRole>
            	
            </div>
        </div>
    </div>
    
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
	    function Map(key, value) {
			this.key = key;
			this.value = value;
		}
    	$(function() {
    		
    		$("#type").change(function() {
   				var ismust = $(this).val();
   				if($(this).val() == '0') {
   					$(".classDiv").hide();
   				}else {
   					$(".classDiv").show();
   				}
   				$.ajax({
   					type : 'post',
   					url : 'teacherScore/getCourse',
   					data : {
   						ismust : parseInt(ismust)
   					},
   					dataType : 'json',
   					success : function(data) {
   						$("#pro").html('<option disabled="disabled" selected>请选择课程</option>');
   						for(var i = 0; i < data.length; i ++) {
   							$("#pro").append("<option class='classOption' value='"+data[i].id+"'>"+data[i].name+"</option>");
   						}
   					}.bind(this)
   				});
   			});
    		$("#pro").change(function() {
    			var courseId = $(this).val();
    			var courseName = $("#pro").find("option:selected").text();
   				if($("#type").val() == 1) {
   	   				$.ajax({
   	   					type : 'post',
   	   					url : 'teacherScore/getClasses',
   	   					data : {
   	   						courseId : courseId
   	   					},
   	   					dataType : 'json',
   	   					success : function(data) {
   	   						$("#classSelect").html('<option disabled="disabled" selected>请选择班级</option>');
   	   						for(var i = 0; i < data.length; i ++) {
   	   							$("#classSelect").append("<option class='classOption' value='"+data[i].id+"'>"+data[i].name+"</option>");
   	   						}
   	   					}.bind(this)
   	   				});
   				}else {
   					$.ajax({
   	   					type : 'post',
   	   					url : 'ScoreManager/getStudents2',
   	   					data : {
   	   						courseId : courseId,
   	   					},
   	   					dataType : 'json',
   	   					success : function(data) {
   							$(".mustDiv").show();
   							$(".studentTbody").html('');
   							$("#studentTitle").html("<span><span style='color:#0077AA;'>" + courseName + "</span></span>");
   							for(var i = 0; i < data.length; i ++) {
   								$(".studentTbody").append('<tr class="tdtr"><td style="vertical-align:middle;text-align: center;">' + data[i].number + '</td><td style="vertical-align:middle;text-align: center;">' + data[i].realName + '</td><td><form class="am-form tpl-form-line-form"><input type="text" class="tpl-form-input scoreInput" id="' + data[i].id + '" placeholder="请输入成绩"></form></td></tr>');
   							}
   							$(".buttonDiv").append('<button style="float:right; " type="button" class="am-btn am-btn-default am-round voice"><i style=" font-size: 18px;" class="am-icon-microphone"></i></button>');
   							$(".buttonDiv").append('<button style="float:right;" type="button" id="courseButt' + courseId + '" class="am-btn am-btn-primary submitScoreButt"><i class="am-icon-save"></i>&nbsp;核对无误,录入</button>');
   							
   							$(".buttonDiv").on("click",".submitScoreButt", function() {
   				    			var array = [];
   				    			$(this).parent().prev().find(".tdtr").each(function(i) {
   				    				var input = $(this).find("input");
   				    				if(input.val() == "" || input.val() == null || parseInt(input.val()) < 0) {
   				    					alert("您输入的成绩有误，请重新输入");
   				    					return false;
   				    				}else{
   				    					var key = input.attr("id");
   				    					var value = input.val();
   				    					var m = new Map(key, value);
   				    					array.push(m);
   				    				}
   				    			});
   				    			
   				    			var jsonData = JSON.stringify(array);
   				    			var courseId = $(this).attr("id").split("courseButt")[1];
   				    			$.ajax({
   				    				url : 'ScoreManager/update2',
   				    				data : {
   				    					json : jsonData,
   				    					courseId : parseInt(courseId)
   				    				},
   				    				success : function(result) {
			    						alert("录入成功");
			    						window.location.href="/ScoreManager";
   				    				}
   				    			});
   				    		});
   							$(".buttonDiv").on("click",".voice", function() {
   				    			var text = "";
   				    			$(this).parent().parent().find(".scoreInput").each(function(i) {
   				    				text += $(this).val() + ",";
   				    			});
   				    			$.ajax({
   				    				url : 'speech/score',
   				    				type : 'post',
   				    				data : {
   				    					text : text
   				    				}
   				    			});
   				    		});
   	   						
   	   					}.bind(this)
   	   				});
   				}
   			});
    		$('#classSelect').on('change',function(){
    			$(".mustDiv").hide();
    			$(".buttonDiv").html('');
   				var className = $(this).find("option:selected").text();
   				var courseName = $("#pro").find("option:selected").text();
   				var courseId = $("#pro").val();
   				var classesId = $(this).val();
   				$.ajax({
   					type : 'post',
   					url : 'ScoreManager/getStudents',
   					data : {
   						courseId : courseId,
   						classesId : classesId
   					},
   					dataType : 'json',
   					success : function(data) {
   						if(data[0] == 'alreadyHave') {
   							alert("本课程该班级成绩已录入!");
   						}else {
   							$(".mustDiv").show();
   							$(".studentTbody").html('');
   							$("#studentTitle").html("<span><span style='color:#0077AA;'>" + courseName + "</span><small style='font-weight: 400;'>（" + className + "）</small></span>");
   							for(var i = 0; i < data.length; i ++) {
   								$(".studentTbody").append('<tr class="tdtr"><td style="vertical-align:middle;text-align: center;">' + data[i].number + '</td><td style="vertical-align:middle;text-align: center;">' + data[i].realName + '</td><td><form class="am-form tpl-form-line-form"><input type="text" class="tpl-form-input scoreInput" id="' + data[i].id + '" placeholder="请输入成绩"></form></td></tr>');
   							}
   							$(".buttonDiv").append('<button style="float:right; " type="button" class="am-btn am-btn-default am-round voice"><i style=" font-size: 18px;" class="am-icon-microphone"></i></button>');
   							$(".buttonDiv").append('<button style="float:right;" type="button" id="courseButt' + courseId + '" class="am-btn am-btn-primary submitScoreButt"><i class="am-icon-save"></i>&nbsp;核对无误,录入</button>');
   							
   							$(".buttonDiv").on("click",".submitScoreButt", function() {
   				    			var array = [];
   				    			$(this).parent().prev().find(".tdtr").each(function(i) {
   				    				var input = $(this).find("input");
   				    				if(input.val() == "" || input.val() == null || parseInt(input.val()) < 0) {
   				    					alert("您输入的成绩有误，请重新输入");
   				    					return false;
   				    				}else{
   				    					var key = input.attr("id");
   				    					var value = input.val();
   				    					var m = new Map(key, value);
   				    					array.push(m);
   				    				}
   				    			});
   				    			
   				    			var jsonData = JSON.stringify(array);
   				    			var courseId = $(this).attr("id").split("courseButt")[1];
   				    			$.ajax({
   				    				url : 'ScoreManager/update',
   				    				data : {
   				    					json : jsonData,
   				    					courseId : parseInt(courseId),
   				    					classesId : parseInt(classesId)
   				    				},
   				    				success : function(result) {
			    						alert("录入成功");
			    						window.location.href="/ScoreManager";
   				    				}
   				    			});
   				    		});
   							$(".buttonDiv").on("click",".voice", function() {
   				    			var text = "";
   				    			$(this).parent().parent().find(".scoreInput").each(function(i) {
   				    				text += $(this).val() + ",";
   				    			});
   				    			$.ajax({
   				    				url : 'speech/score',
   				    				type : 'post',
   				    				data : {
   				    					text : text
   				    				}
   				    			});
   				    		});
   							
   						}
   					}.bind(this)
   				});
   			});
    		$(".websocket").on("click", function() {
    			var username = "[[${session.userSession.username}]]";
    			window.location.href = "http://localhost:8087/LoginController?username=" + username;
    		});
    	});
    </script>
</body>

</html>