<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>geek教务选课管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>
    <style>
    	th,td {
    	text-align: center;}
    </style>
</head>

<body data-type="index">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo" style="position: fixed; left:0px;">
                <a href="javascript:;"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="/search">
                        <button type="submit" class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" name="keyword" type="text" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span th:text="${session.userSession.username}"></span> </a>
                        </li>

                        <!-- 新提示 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <i class="am-icon-comments"></i> 聊天室
                            </a>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="logout">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar" style="position: fixed; left:0px;">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
             <span th:text="${session.userSession.username}"></span>
          </span>
                </div>
            </div>
			<div th:include="common/menu :: menu"></div>
            
        </div>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
		<div  id="tpl-echarts"></div>
            <div class="row-content am-cf">
            <shiro:hasRole name="student">
             <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">选课界面</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog i"></a>
                                </div>
                            </div>
                            <th:block th:if="${isOpen}">
                            <div class="widget-body  widget-body-lg am-fr">
                                <table style="" class="am-table am-table-compact tpl-table-black am-table-centered am-text-middle">
                                	<tr>
                                		<th style="border-top: 0;">状态</th>
                                		<th style="border-top: 0;">课程名称</th>
                                		<th style="border-top: 0;">授课教师</th>
                                		<th style="border-top: 0;">所属学院</th>
                                		<th style="border-top: 0;">课程余量</th>
                                	</tr>
                                	<tr style="height:55px;" th:each="c,i : ${cms}" class="otherStudentSpan">
                                		<th:block th:each="cs : ${csLists}">
                                			<th:block th:if="${cs.getCiid() == c.getId()}">
                                			
                                				<th:block th:if="${!cs.isHaveCurrentUserId()}">
                                				
                                					<td style="vertical-align:middle;" th:if="${!#lists.isEmpty(c.getCiid()) }">
                                						<i  style="color:#009933;" class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                                						已选
                                					</td>
                                					
                                					<td style="vertical-align:middle;" th:if="${#lists.isEmpty(c.getCiid()) }">
                                					<th:block th:if="${amounts.get(i.index) > 0}">
                                						<label>
													      <input type="checkbox" class="cbx" th:value="${c.getId()}" required>
													    </label>
													</th:block>
													<th:block th:if="${amounts.get(i.index) <= 0}">
                                						<i style="color:#C80000;" class="am-icon-times"></i>&nbsp;已空
													</th:block>
                                					</td>
                                					
                                				</th:block>
                                				
                                				<th:block th:if="${cs.isHaveCurrentUserId()}">
							            			<td style="vertical-align:middle;">
		                                				<i style="color:#009933;" class="am-icon-check"></i>&nbsp;
		                                				<button type="button" th:id="dropbutt + ${c.getId()}" class="am-btn am-btn-warning am-round am-btn-xs btn-loading-example dropbutt"
																data-am-loading="{spinner: 'circle-o-notch', loadingText: '退课中...'}">退课</button>
													</td>
								            	</th:block>
                                				
                                			</th:block>
                                		
	                                		
                                		</th:block>
                                		
                                		<td style="vertical-align:middle;" th:text="${c.getName()}"></td>
                                		<td style="vertical-align:middle;" th:text="${c.getRealName()}"></td>
                                		<td style="vertical-align:middle;" th:text="${c.getCollege()}"></td>
                                		<td style="vertical-align:middle;" th:text="${amounts.get(i.index)}"></td>
                                	</tr>
                                </table>
                                <div id="buttDiv">
                                
                                <ul class="am-pagination tpl-pagination" style="text-align:center">
                                
									<li th:each="i : ${#numbers.sequence(1, page)}"><a href="#"  th:text="${i}" th:id="page+${i}" class="pagebutt">1</a></li>
								
								<li style="float:right;"><button  type="button" class="am-btn am-btn-primary btn-loading-example submitbutt"
										data-am-loading="{spinner: 'circle-o-notch', loadingText: '提交中...'}">提交</button></li>
								</ul>
									
								</div>
                                <!-- 分页换页，提交起始页码和每页长度 -->
								<form id="hiddenForm1" th:action="@{/select}" method="post">
									<input type="hidden" name="start" id="hiddenStart" />
									<input type="hidden" name="length" id="hiddenLength" />
								</form>
                            </div>
                            </th:block>
							<th:block th:if="${!isOpen}">
			                	<span style="color:red;">非选课阶段不允许选课！</span>
			                </th:block>
                        </div>
                </div>
              </shiro:hasRole>
              
              <shiro:hasRole name="admin">
              		<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                        	<div class="widget-head am-cf">
                                <div class="widget-title am-fl">选课管理</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            
                        	<table class="am-table am-table-compact tpl-table-black ">
                        		<tr>
                               		<th style="border-top: 0;">状态</th>
                               		<th style="border-top: 0;">操作</th>
                               	</tr>
                               	<tr>
                               		<td th:if="${isOpen}"><span style="color:green;" class="am-icon-check"></span>&nbsp;已开启</td>
                               		<td th:if="${isOpen}">
                               			<button id="0" type="button" class="am-btn am-btn-default am-btn-danger openclose"><span class="am-icon-exclamation"></span>&nbsp;&nbsp;关闭</button>
	                               	</td>
                               		<td th:if="${!isOpen}"><span style="color:red;" class="am-icon-times"></span>&nbsp;已关闭</td>
                               		<td th:if="${!isOpen}">
                               			<button id="1" type="button" class="am-btn am-btn-default am-btn-success openclose"><span class="am-icon-circle"></span>&nbsp;&nbsp;开启</button>
	                               	</td>
                               		
                               	</tr>
                        	</table>
                        	
                        	<th:block th:if="${!isOpen}">
                        	<div class="widget-head am-cf">
                                <div class="widget-title am-fl">余量载入</div>
                            </div>
                            <table class="am-table am-table-compact tpl-table-black ">
                        		<tr>
                               		<th style="border-top: 0;">课程名称</th>
                               		<th style="border-top: 0;">授课教师</th>
                               		<th style="border-top: 0;">所属学院</th>
                               		<th style="border-top: 0;">课程余量</th>
                               	</tr>
                               	<tr th:each="c : ${cms}">
                               		<td th:text="${c.getName()}"></td>
                               		<td th:text="${c.getRealName()}"></td>
                               		<td th:text="${c.getCollege()}"></td>
                               		<td><input type="text" th:id="amount + ${c.getId()}" th:name="amount + ${c.getId()}" class="am-form-field am-round amount" /></td>
                               	</tr>
                        	</table>
                            </th:block>
                        </div>
                    </div>
              </shiro:hasRole>
            </div>
        </div>
    </div>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script type="text/javascript">
    $('.submitbutt').click(function() {
    	if($('input:checked').length > 3) {
    		alert("选课数量不能超过3科，请重新选择");
    	}else if($('input:checked').length == 0){
    		alert("选课数量不能为0，请重新选择");
    	}else {
    		var $btn = $(this)
        	$btn.button('loading');
        	setTimeout(function(){
        		$btn.button('reset');
        	}, 1000);
        	var courses = new Array();
        	$('input:checked').each(function(i) {
        		courses[i] = $(this).val();
        	})
        	var coursesJson = JSON.stringify(courses);
        	$.ajax({
        		url : 'select/seckill',
        		type : 'get',
        		data : {s : coursesJson},
        		contentType: "application/json",
        		dataType : 'json',
        		success : function(result) {
        			var str = "";
        			for(var key in result){
        				str += key + ":" +result[key] +"\r\n";
        			}
        			alert(str);
        			window.location.href="select";
        		},
        		error : function(result) {
        			alert("失败,请重试");
        		}
        	});
    	}
    });
	$(".pagebutt").on("click", function(){
		var page = this.innerHTML;
		var length = 5;
		var start = (page - 1) * length;
		 $("#hiddenStart").val(start);
		$("#hiddenLength").val(length);
		$("#hiddenForm1").submit();
	});
	$(".openclose").on("click", function() {
		var open = parseInt($(this).attr('id'));
		if(open == 1) {
			var array = [];
			$(".amount").each(function(i) {
				array.push($(this).val());
			})
			$.ajax({
	    		url : 'select/open',
	    		type : 'post',
	    		data : {
	    			open : open,
	    			amounts : array.toLocaleString()
	    		},
	    		success : function(result) {
	    			alert("操作成功");
	    			window.location.href="select";
	    		},
	    		error : function(result) {
	    			alert("失败");
	    		}
	    	});
		}else {
			$.ajax({
    		url : 'select/open',
    		type : 'post',
    		data : {open : open},
    		success : function(result) {
    			alert("操作成功");
    			window.location.href="select";
    		},
    		error : function(result) {
    			alert("失败");
    		}
    	});
		}
		
	});
	$(".dropbutt").on("click", function() {
		var ciid = parseInt($(this).attr("id").substr(8,1));
		$.ajax({
    		url : 'select/delete',
    		type : 'post',
    		data : {ciid : ciid},
    		success : function(result) {
    			alert("操作成功" + result);
    			window.location.href="select";
    		},
    		error : function(result) {
    			alert("失败");
    		}
    	});
	});
    </script>
</body>

</html>