<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>geek教务选课信息</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>
</head>

<body data-type="index">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo"  style="position: fixed; left:0px;">
                <a href="javascript:;"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="/search">
                        <button type="submit" class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" name="keyword" type="text" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span th:text="${session.userSession.username}"></span> </a>
                        </li>

                        <!-- 新提示 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <i class="am-icon-comments"></i> 聊天室
                            </a>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="logout">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar" style="position: fixed; left:0px;">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              <span th:text="${session.userSession.username}"></span>
          </span>
                </div>
            </div>
            <div th:include="common/menu :: menu"></div>
        </div>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
		<div  id="tpl-echarts"></div>
            <div class="row-content am-cf">
            <th:block th:if="${!isOpen}">
            <shiro:hasRole name="teacher">
            <th:block th:each="sitt : ${sitts}">
            	<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
	                <div class="widget am-cf">
	                    <div class="widget-head am-cf">
	                        <div class="widget-title am-fl">选课信息</div>
	                        <div class="widget-function am-fr">
	                            (人数)&nbsp;&nbsp;<span style="color:#993333; font-size:20px; font-weight: 700;" th:text="${sitt.getNumber()}"></span>
	                        </div>
	                    </div>
	                    
            			
			           	<table class="am-table am-table-compact tpl-table-black ">
			           		<caption style="font-size: 35px; padding-bottom: 30px;" th:text="${sitt.getName()} "></caption>
                       		<tr>
                           		<th style="border-top: 0;vertical-align:middle;text-align: center;">学号</th>
                           		<th style="border-top: 0;vertical-align:middle;text-align: center;">姓名</th>
                           		<th style="border-top: 0;vertical-align:middle;text-align: center;">学院</th>
                           	</tr>
                           	<th:block th:each="c : ${students}">
	                           	<tr th:if="${c.getCouresInfoId() == sitt.getCiid() }" th:each="ui : ${c.getUserInfo()}">
	                            	<td style="vertical-align:middle;text-align: center;" th:text="${ui.getNumber()}"></td>
	                            	<td style="vertical-align:middle;text-align: center;" th:text="${ui.getRealName()}"></td>
	                            	<td style="vertical-align:middle;text-align: center;" th:text="${ui.getCollege()}"></td>
	                            </tr>
                           	</th:block>
                        </table>
                        <button style="float:right; margin-top: 30px;" type="button" class="am-btn am-btn-danger"><i class="am-icon-save"></i>&nbsp;下载</button>
            		</div>
            	</div>
            	</th:block>
            </shiro:hasRole>
            </th:block>
            <th:block th:if="${isOpen}">
            
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">选课信息</div>
                    </div>
                     <span style="color:red;">目前正在选课……请在选课结束后查看选课结果</span>
                </div>
	        </div>
           	 
            </th:block>
            </div>
        </div>
    </div>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>

</body>

</html>