<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>geek教务角色管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>
<style>
	#hiddenForm2,.hideroleselect{
		display: none;
	}
	.active {
		color : red;
	}
</style>
</head>

<body data-type="index">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo"  style="position: fixed; left:0px;">
                <a href="javascript:;"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="/search">
                        <button type="submit" class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" name="keyword" type="text" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span th:text="${session.userSession.username}"></span> </a>
                        </li>

                        <!-- 新提示 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <i class="am-icon-comments"></i> 聊天室
                            </a>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="logout">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar" style="position: fixed; left:0px;">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              <span th:text="${session.userSession.username}"></span>
          </span>
                </div>
            </div>
			<div th:include="common/menu :: menu"></div>
        </div>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
		<div  id="tpl-echarts"></div>
            <div class="row-content am-cf">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">课程表</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body  widget-body-lg am-fr">
            <button class="addbutt am-btn am-btn-success am-btn-xs am-radius">添加</button>
<!-- 添加 -->
<form id="hiddenForm2">
	<input type="text" name="username" id="username" />
	<input type="password" name="password" id="password" />
	<input type="button" value="提交" id="addsubmitbutt" class=" am-btn am-btn-default am-btn-xs am-radius" />
</form>
<table style="border-top:0;border-left:0;border-right:0;table-layout: fixed;" class="am-table am-table-compact am-table-bordered am-table-radius tpl-table-black " >
	<thead>
		<tr>
			<th id="thid">id</th>
			<th>用户名</th>
			<th>状态</th>
			<th>角色</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody id="tbody">
	
		<tr th:each="user,userStat : ${users}" class="usertr">
			<td th:text="${user.id}" class="id">1</td>
			<td th:text="${user.username}">username</td>
			<td th:text="${user.enable} == 1 ?'启用':'禁用'" class="enable">启用</td>
			<td>
				<select  class="roleselect">
					<th:block th:each="role2 : ${user.roles}">
					<option class="roleoption" th:each="role : ${roles}" th:if="${role.roleName == role2.roleName}" th:value="${role.id}" th:text="${role.roleName}" selected="selected" disabled="disabled"></option>
					<option class="roleoption" th:each="role : ${roles}" th:if="${role.roleName != role2.roleName}" th:value="${role.id}" th:text="${role.roleName}"></option>
					</th:block>
				</select>
				<select class="hideroleselect">
					<option selected="selected" disabled="disabled">请选择</option>
					<option class="roleoption" th:each="role : ${roles}" th:value="${role.id}" th:text="${role.roleName}"></option>
				</select>
			</td>
			<td><button th:text="${user.enable} == 1 ?'禁用':'启用'" class="enablebutt am-btn am-btn-secondary am-btn-xs am-radius">按钮</button></td>
		</tr>
	</tbody>
</table>
<ul id="buttDiv" class="am-pagination tpl-pagination" style="text-align:center">
	<li th:each="i : ${#numbers.sequence(1, page)}"><a href="#" th:text="${i}" th:id="page+${i}" class="pagebutt am-btn am-btn-secondary am-btn-xs am-radius"></a></li>
</ul>
<!-- 分页换页，提交起始页码和每页长度 -->
<form id="hiddenForm1" th:action="@{/users}" method="post">
	<input type="hidden" name="start" id="hiddenStart" />
	<input type="hidden" name="length" id="hiddenLength" />
</form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" th:inline="javascript">

window.onload=function(){
	var flag = 1;
	$(".pagebutt").on("click", function(){
		var page = this.innerHTML;
		var length = 10;
		var start = (page - 1) * length;
		 $("#hiddenStart").val(start);
		$("#hiddenLength").val(length);
		$("#hiddenForm1").submit(); 
		//方法2：window.location.href="users?start="+start+"&length="+length;
		/* $.ajax({
			url : 'users',
			type : 'get',
			data : {
				start : start,
				length : length
			},
			success : function(html){
				var start = html.indexOf("tbody");
				var end = html.indexOf("/tbody");
				var html1 = html.substring(start + 6, end - 1);
				$("tbody").html(html1);
				/ var buttStart = html.indexOf('myScript');
				var hstr = "</html>"
				var buttEnd = html.indexOf(hstr, html.indexOf(hstr) + 1)
				var html2 = html.substring(buttStart + 10, buttEnd-11);
				$("script").html(html2); /
				if(flag != page) {
					flag = page;
				}else{
					return;
				}
				//alert(flag);
			}
		});  */
		/* $.post("users", { start : start, length : length } ,function(html){
			$("body").html(html);
		}); */
		
	});
	$(".addbutt").click(function(){
		$("#hiddenForm2").toggle();
	});
	$("#addsubmitbutt").click(function(){
		var username = $("#username").val();
		var password = $("#password").val();
		$.ajax({
			url : 'users/add',
			type : 'post',
			data : {
				username : username,
				password : password
			},
			success : function(result) {
				alert("成功 " + result);
				$("#hiddenForm2").hide();
			},
			error : function(result) {
				alert("失败 " + result);
			}
		});
	});
	$(".enablebutt").click(function(){
		var id = $(this).parents("tr").find(".id").html();
		var enablestr = $(this).parents("tr").find(".enable").html();
		var enable = parseInt("启用" == enablestr ? 0 : 1);
		$.ajax({
			url : 'users/enable',
			type : 'post',
			data : {
				id : id,
				enable : enable
			},
			success : function(result) {
				var enstr = enable == 0 ? '启用' : '禁用';
				var destr = enable == 0 ? '禁用' : '启用';
				$(this).parents("tr").find(".enablebutt").html(enstr);
				$(this).parents("tr").find(".enable").html(destr);
				alert("成功 " + result);
			}.bind(this),//在ajax用this需要用bind(this)
			error : function(result) {
				alert("失败 " + result);
			}
		});
	});
	$(".roleselect").change(function(){
		var flag = confirm("确认更改用户角色吗？");
		if(true == flag) {
			var roleId = $(this).val();
			var userId = $(this).parents("tr").find(".id").html();
			//alert(roleid+","+userid);
			$.ajax({
				url : 'users/userrole',
				type : 'post',
				data : {
					userId : userId,
					roleId : roleId
				},
				success : function(result) {
					$(this).children().each(function(){
						$(this).removeAttr("disabled");
					})
					$(this).find("[value='" + $(this).val() +"']").attr("disabled","disabled");
					alert("成功 " + result);
				}.bind(this),
				error : function(result) {
					alert("失败 " + result);
				}
			});
		}else {
		}
	});
	$(".roleselect").click(function(){
		var size = $(this).find("option").length;//或者size()
		if(0 == size){
			alert("该用户暂无角色，请手动设置");
			$(this).html($(".hideroleselect").html());
		}
	});
}

</script>
</html>

